/*
----------------------------------------
SAFARIS KENYA STYLING
----------------------------------------
*/

// Initializers

$font:'Palanquin', sans-serif;
$theme-color:#00cc7a;
$text-color:#444;



// Defaults

*{
  margin:0%;
  padding:0%;
  font-family:$font;
  outline:0;
}

.right{
  float:right
}


.left{
  float:left;
}

.cap{
  text-transform: capitalize;
}

.button{
  border-radius:3px;
  padding:1% 2%;
  background-color:$theme-color;
  border:1px solid $theme-color;
  -webkit-transition:background .5s;
}


.button:hover{
  background-color:transparent;
}

.pad{
  padding-top:5%;
}




// menu design

.top-menu{
  width:100%;
  position: fixed;
  text-align: right;
  padding-bottom:-1%;
  z-index:3;


  img{
    width:60px;
    height:auto;
    margin:10% 0% -5% 20%;
  }

  .links{

    li{
      display:inline-block;
      list-style: none;
      padding:1% 2% 0% 0%;
    }

    a{
      color:#fff;
      -webkit-transition:color .5s;
      font-size:1.3em;
    }

    a:hover{
      color:$theme-color;
    }

  }

}

.coco{
  @extend .top-menu;

  .links{
    a{
      color:#444;
    }

    a:hover{
      color:$theme-color;
    }
  }

  background-color:#fff!important;
  box-shadow:0 0 5px 2px rgba(0, 0, 0, 0.2)!important;
}




// welcome section

.welcome-section{
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width:100%;
  height:100vh;


  // text on div

  .text{
    padding:15% 0% 5% 0%;
    text-align: center;

    h1{
      color:#fff;
      font-size:4.5em;
      margin:5% 0%;
    }

  }
}



// search section

.search{
  width:45%;
  margin:auto;

  input[type='text']{
    padding:2% 0% 2.2% 2%;;
    border:none;
    text-align: center;
    border-radius:60px;
    width:85%;
    color:#666;
    font-size:1.3em;
  }

  button{
    background-color:transparent;
    border:none;
    margin-top:1%;

    i{
      color:#fff;
      font-size:3em;
      -webkit-transition: color .5s;
    }
  }

  button:hover{
    i{
      color:$theme-color;
    }
  }
}



// top list

.top-list{
  color:$text-color;
  text-align: center;

  h2{
    padding:2% 0%;
  }

  .space{
    margin-left:13%;
    padding:1% 0%;
  }

  .capetown{
    background: url(../images/capetown.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    width:100%;
    height:30vh;
  }

  .zanzibar{
    @extend .capetown;
    background: url(../images/zanzibar.jpg) no-repeat center center;
    -webkit-background-size: cover;
  }


  .mombasa{
    @extend .capetown;
    background: url(../images/mombasa.jpg) no-repeat center center;
    -webkit-background-size: cover;
  }
}

.visit{
  border-radius:3px;
  margin:1% 1.5%;
  padding:1%;
  text-align: left;
  box-shadow:0 0 5px 2px rgba(#000, 0.1);
  -webkit-transition:box-shadow .5s;

  img{
    width:100%;
  }

  h4{
    color:$theme-color;
    margin:2% 0%;
    padding:1% 0%;
    text-transform: uppercase;
    border-bottom:1px solid $theme-color;
  }

  p{
    font-size:1em;
  }

  a{
    color:#fff;
    text-decoration: none!important;
  }

  .button:hover{
    color:$theme-color;
    a{
      text-decoration: none!important;
    }
  }
}

.visit:hover{
  box-shadow:0 0 5px 2px rgba(#000, 0.3);
}



// packages

.packages{
  padding-top:5%;
  padding-left:16%;


  .package{
    margin:1%;
    text-align: center;
    background-color:$theme-color;
    color:#fff;
    padding:1%;
    border-radius:3px;

    img{
      width:100px;
      margin:15% 0%;
    }

    h4{
      border-bottom:1px dashed #fff;
      padding:2% 0%;
      width:70%;
      text-align: center;
      margin: auto;
    }

    p{
      padding:8% 0%;
    }
  }
}




// sites - sites they can visit

.sites{
  padding-top:10%;
  padding-bottom:5%;

  .pad{
    padding-left:12%;
  }

  .site{
    margin:1%;
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0);
    -webkit-transition:box-shadow .5s;
    border-radius:3px;
    color:#fff;

    h2{
      span{
        padding:0% 1%;
        background-color:$theme-color;
        border-radius:3px;
      }
    }

    p{
      position: absolute;
      bottom:5%;
      width:80%;

      a{
        text-decoration: none;
        color:#fff
      }

      a:hover{
        color:$theme-color;
      }
    }
  }

  .victoria_falls:hover{
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0.9);
  }


  .victoria_falls{
    background: url(../images/victoria_falls.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height:50vh;
  }

  .pyramids_of_giza{
    @extend .victoria_falls;
    background: url(../images/pyramids_of_giza.jpg) no-repeat center center;
    -webkit-background-size: cover;
  }

  .mountain_gorilla{
    @extend .victoria_falls;
    background: url(../images/mountain_gorillas.jpg) no-repeat center center;
    -webkit-background-size: cover;
  }

  .flamingo{
    @extend .victoria_falls;
    background: url(../images/flamingo.jpg) no-repeat center center;
    -webkit-background-size: cover;
  }
}


// customer feedback styling

.customer{
  padding:2%;

  .prof{
    text-align: center;
    padding:5% 2%;
    -webkit-transition:box-shadow .5s;
    text-align: left;

    img{
      width:100px;
      border-radius:100%;
      text-align: center!important;
    }

    h4{
      border-bottom:1px solid $text-color;
      padding:2% 0%;
    }
  }

  .prof:hover{
    box-shadow:0 0 5px 2px rgba(#000, 0.1);
  }
}



// footer

.footer{
  padding:5%;

  a{
    color:$text-color;
    padding:2% 0%;
    -webkit-transition:color .5s;
  }

  a:hover{
    text-decoration:none;
    color:$theme-color;
  }


  li{
    list-style: none;
    margin:1%;
  }

  .links{
    padding-left:10%;
  }

  .social{
    text-align: center;
    li{
      display: inline-block;
      font-size:2em;
      margin:1% 3%;;
    }
  }
}



// form design

.ui-form{
  input[type='email'], [type='text'], textarea{
    padding:1.5%;
    margin:1.5% 0%;
    width:80%;
    border-radius:3px;
    border:1px solid $text-color;
    -webkit-transition: border .5s;
  }

  input[type='email']:focus{
    border:1px solid $theme-color;
  }

  input[type='submit']{
    background-color:$theme-color;
    padding:1.5%;
    border:none;
    border-radius:3px;
    color:#fff;
    -webkit-transition: background .5s;
  }

  input[type='submit']:hover{
    background-color:$theme-color / .9;
  }

  input[type='submit']:active{
    background-color:$theme-color * .9;
  }
}



/*
-----------------------------------------------------
OFFERS PAGE STYLING
-----------------------------------------------------
*/

.welcome-to-offers{
  background: url(../images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width:100%;
  height:70vh;


  // text on div

  .text{
    padding:13% 0% 5% 0%;
    text-align: center;

    h1{
      color:#fff;
      font-size:4.5em;
      margin:5% 0%;

      span{
        background-color:rgba($theme-color, .6);
        padding:0% 1%;
      }
    }

  }
}


.offers{
  padding-top:5%;
  padding-bottom:5%;
  padding-left:5%;
  padding-right:5%;

  .offer-holder{
    height:50vh;
    cursor:pointer;
    margin:.5% 0%;

    img{
      width:100%;
      height:100%;
      min-height:auto;
      -webkit-transition:transform .5s;
    }
  }

  .offer-holder:hover{
    img{
      transform: scale(1.02);
    }
  }
}



// background holder styling

.background-holder{
  width:100%;
  height:100vh;
  position:fixed;
  background-color:rgba(#000, .8);
  z-index:4;
  color:#fff;
  overflow-y: scroll;

  .item-holder{
    padding:5% 0%;
    vertical-align: middle;
    width:80%;
    margin: auto;
    text-align: center;

    img{
      width:70%;
      margin: auto;
    }
  }

  .close-it{
    padding:2%;
    position: fixed;
    right:2%;
    i{
      font-size:3em;
      color:#fff;
      cursor: pointer;
    }
  }
}




/*
----------------------------------------------------
ABOUT US PAGE DESIGN
----------------------------------------------------
*/

// welcome to aboutsection

.welcome-to-about{
  @extend .welcome-section;
  background: url(../images/background3.jpg) no-repeat center center;
  width:100%;
  height:100vh;


  // text on div

  .text{
    width:50%;
    float: right;

    h1{
      margin:5% 0%;
    }
  }
}

.about-us{
  padding:10% 0%;
  img{
    width:80%;
  }

  h3{
    border-bottom:1px solid #333;
    padding:1% 0%;
  }

  p{
    line-height:40px;
  }
}




/*
----------------------------------------------------
CONTACTS PAGE
----------------------------------------------------
*/
.contacts-page{
  @extend .welcome-section;
  background: url(../images/background3.jpg) no-repeat center center fixed;
  height:100vh;
  padding:5% 0%;

  .container{
    box-shadow:5px 7px 5px 3px rgba(#000, 0.3);
  }

  .contact{
    height:80vh;
    background-color:#fff;
    padding:2%;

    h3{
      color:$theme-color;
      padding:3% 0%;
      border-bottom:1px solid $theme-color;
      margin:5% 0% 10% 0%;
    }

    ul{
      padding-left:5%;
      padding-top: 5%;
    }

    li{
      display:block;
      padding:4% 0%;
      font-size:1.5em;

      i{
        font-size:1em;
        margin-right:5%;
        color:#444;
        margin-top:1%;
      }
    }
  }

  .form{
    @extend .contact;
    background-color: $theme-color;

    h3{
      color:#fff;
      border-bottom:1px solid #fff;
    }


    input[type='email'], [type='text'], textarea{
      width:100%;
      border:1px solid #dfdfdf;
      background-color:transparent;
      color:#fff;
      padding:2%;
    }

    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color:#fff;
    }


    input[type='email']:focus, [type='text']:focus, textarea:focus{
      border:1px solid #fff;
    }

    input[type='text']{
      width:49.5%!important;
    }

    input[type='submit']{
      background-color:#fff;
      border:1px solid #fff;
      width:50%;
      color:$theme-color;
      padding:2% 0% 2.5% 0%;
    }

    input[type='submit']:hover{
      background-color:transparent;
      color:#fff;
    }
  }
}



/*
----------------------------------------
HOTELS PAGE STYLING
----------------------------------------
*/

.hotel-images{
  padding:7% 10%;

  h1{
    text-align: center;
    padding:1% 0%;
  }

}


.hotel{
  margin:1% 0%;

  .image{
    height:25vh;
    width:100%;
  }

  .text{
    position: absolute;
    bottom:0%;
    padding:2%;
    width:100%;
    color:#fff;

    a{
      font-size:.6em;
      color:#fff;
      text-decoration: none;
    }

    a:hover{
      color:$theme-color;
    }
  }
}
