/*
----------------------------------------
SAFARIS KENYA STYLING
----------------------------------------
*/
* {
  margin: 0%;
  padding: 0%;
  font-family: "Palanquin", sans-serif;
  outline: 0; }

.right {
  float: right; }

.left {
  float: left; }

.cap {
  text-transform: capitalize; }

.button {
  border-radius: 3px;
  padding: 1% 2%;
  background-color: #00cc7a;
  border: 1px solid #00cc7a;
  -webkit-transition: background .5s; }

.button:hover {
  background-color: transparent; }

.pad {
  padding-top: 5%; }

.top-menu, .coco {
  width: 100%;
  position: fixed;
  text-align: right;
  padding-bottom: -1%;
  z-index: 3; }
  .top-menu img, .coco img {
    width: 60px;
    height: auto;
    margin: 10% 0% -5% 20%; }
  .top-menu .links li, .coco .links li {
    display: inline-block;
    list-style: none;
    padding: 1% 2% 0% 0%; }
  .top-menu .links a, .coco .links a {
    color: #fff;
    -webkit-transition: color .5s;
    font-size: 1.3em; }
  .top-menu .links a:hover, .coco .links a:hover {
    color: #00cc7a; }

.coco {
  background-color: #fff !important;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2) !important; }
  .coco .links a {
    color: #444; }
  .coco .links a:hover {
    color: #00cc7a; }

.welcome-section, .welcome-to-about, .contacts-page {
  background: url(../images/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 100vh; }
  .welcome-section .text, .welcome-to-about .text, .contacts-page .text {
    padding: 15% 0% 5% 0%;
    text-align: center; }
    .welcome-section .text h1, .welcome-to-about .text h1, .contacts-page .text h1 {
      color: #fff;
      font-size: 4.5em;
      margin: 5% 0%; }

.search {
  width: 45%;
  margin: auto; }
  .search input[type='text'] {
    padding: 2% 0% 2.2% 2%;
    border: none;
    text-align: center;
    border-radius: 60px;
    width: 85%;
    color: #666;
    font-size: 1.3em; }
  .search button {
    background-color: transparent;
    border: none;
    margin-top: 1%; }
    .search button i {
      color: #fff;
      font-size: 3em;
      -webkit-transition: color .5s; }
  .search button:hover i {
    color: #00cc7a; }

.top-list {
  color: #444;
  text-align: center; }
  .top-list h2 {
    padding: 2% 0%; }
  .top-list .space {
    margin-left: 13%;
    padding: 1% 0%; }
  .top-list .capetown, .top-list .zanzibar, .top-list .mombasa {
    background: url(../images/capetown.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 30vh; }
  .top-list .zanzibar {
    background: url(../images/zanzibar.jpg) no-repeat center center;
    -webkit-background-size: cover; }
  .top-list .mombasa {
    background: url(../images/mombasa.jpg) no-repeat center center;
    -webkit-background-size: cover; }

.visit {
  border-radius: 3px;
  margin: 1% 1.5%;
  padding: 1%;
  text-align: left;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: box-shadow .5s; }
  .visit img {
    width: 100%; }
  .visit h4 {
    color: #00cc7a;
    margin: 2% 0%;
    padding: 1% 0%;
    text-transform: uppercase;
    border-bottom: 1px solid #00cc7a; }
  .visit p {
    font-size: 1em; }
  .visit a {
    color: #fff;
    text-decoration: none !important; }
  .visit .button:hover {
    color: #00cc7a; }
    .visit .button:hover a {
      text-decoration: none !important; }

.visit:hover {
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); }

.packages {
  padding-top: 5%;
  padding-left: 16%; }
  .packages .package {
    margin: 1%;
    text-align: center;
    background-color: #00cc7a;
    color: #fff;
    padding: 1%;
    border-radius: 3px; }
    .packages .package img {
      width: 100px;
      margin: 15% 0%; }
    .packages .package h4 {
      border-bottom: 1px dashed #fff;
      padding: 2% 0%;
      width: 70%;
      text-align: center;
      margin: auto; }
    .packages .package p {
      padding: 8% 0%; }

.sites {
  padding-top: 10%;
  padding-bottom: 5%; }
  .sites .pad {
    padding-left: 12%; }
  .sites .site {
    margin: 1%;
    box-shadow: inset 0px 0px 400px 110px transparent;
    -webkit-transition: box-shadow .5s;
    border-radius: 3px;
    color: #fff; }
    .sites .site h2 span {
      padding: 0% 1%;
      background-color: #00cc7a;
      border-radius: 3px; }
    .sites .site p {
      position: absolute;
      bottom: 5%;
      width: 80%; }
      .sites .site p a {
        text-decoration: none;
        color: #fff; }
      .sites .site p a:hover {
        color: #00cc7a; }
  .sites .victoria_falls:hover, .sites .pyramids_of_giza:hover, .sites .mountain_gorilla:hover, .sites .flamingo:hover {
    box-shadow: inset 0px 0px 400px 110px rgba(0, 0, 0, 0.9); }
  .sites .victoria_falls, .sites .pyramids_of_giza, .sites .mountain_gorilla, .sites .flamingo {
    background: url(../images/victoria_falls.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 50vh; }
  .sites .pyramids_of_giza {
    background: url(../images/pyramids_of_giza.jpg) no-repeat center center;
    -webkit-background-size: cover; }
  .sites .mountain_gorilla {
    background: url(../images/mountain_gorillas.jpg) no-repeat center center;
    -webkit-background-size: cover; }
  .sites .flamingo {
    background: url(../images/flamingo.jpg) no-repeat center center;
    -webkit-background-size: cover; }

.customer {
  padding: 2%; }
  .customer .prof {
    text-align: center;
    padding: 5% 2%;
    -webkit-transition: box-shadow .5s;
    text-align: left; }
    .customer .prof img {
      width: 100px;
      border-radius: 100%;
      text-align: center !important; }
    .customer .prof h4 {
      border-bottom: 1px solid #444;
      padding: 2% 0%; }
  .customer .prof:hover {
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1); }

.footer {
  padding: 5%; }
  .footer a {
    color: #444;
    padding: 2% 0%;
    -webkit-transition: color .5s; }
  .footer a:hover {
    text-decoration: none;
    color: #00cc7a; }
  .footer li {
    list-style: none;
    margin: 1%; }
  .footer .links {
    padding-left: 10%; }
  .footer .social {
    text-align: center; }
    .footer .social li {
      display: inline-block;
      font-size: 2em;
      margin: 1% 3%; }

.ui-form input[type='email'], .ui-form [type='text'], .ui-form textarea {
  padding: 1.5%;
  margin: 1.5% 0%;
  width: 80%;
  border-radius: 3px;
  border: 1px solid #444;
  -webkit-transition: border .5s; }
.ui-form input[type='email']:focus {
  border: 1px solid #00cc7a; }
.ui-form input[type='submit'] {
  background-color: #00cc7a;
  padding: 1.5%;
  border: none;
  border-radius: 3px;
  color: #fff;
  -webkit-transition: background .5s; }
.ui-form input[type='submit']:hover {
  background-color: #00e388; }
.ui-form input[type='submit']:active {
  background-color: #00b86e; }

/*
-----------------------------------------------------
OFFERS PAGE STYLING
-----------------------------------------------------
*/
.welcome-to-offers {
  background: url(../images/background2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height: 70vh; }
  .welcome-to-offers .text {
    padding: 13% 0% 5% 0%;
    text-align: center; }
    .welcome-to-offers .text h1 {
      color: #fff;
      font-size: 4.5em;
      margin: 5% 0%; }
      .welcome-to-offers .text h1 span {
        background-color: rgba(0, 204, 122, 0.6);
        padding: 0% 1%; }

.offers {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%; }
  .offers .offer-holder {
    height: 50vh;
    cursor: pointer;
    margin: .5% 0%; }
    .offers .offer-holder img {
      width: 100%;
      height: 100%;
      min-height: auto;
      -webkit-transition: transform .5s; }
  .offers .offer-holder:hover img {
    transform: scale(1.02); }

.background-holder {
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 4;
  color: #fff;
  overflow-y: scroll; }
  .background-holder .item-holder {
    padding: 5% 0%;
    vertical-align: middle;
    width: 80%;
    margin: auto;
    text-align: center; }
    .background-holder .item-holder img {
      width: 70%;
      margin: auto; }
  .background-holder .close-it {
    padding: 2%;
    position: fixed;
    right: 2%; }
    .background-holder .close-it i {
      font-size: 3em;
      color: #fff;
      cursor: pointer; }

/*
----------------------------------------------------
ABOUT US PAGE DESIGN
----------------------------------------------------
*/
.welcome-to-about {
  background: url(../images/background3.jpg) no-repeat center center;
  width: 100%;
  height: 100vh; }
  .welcome-to-about .text {
    width: 50%;
    float: right; }
    .welcome-to-about .text h1 {
      margin: 5% 0%; }

.about-us {
  padding: 10% 0%; }
  .about-us img {
    width: 80%; }
  .about-us h3 {
    border-bottom: 1px solid #333;
    padding: 1% 0%; }
  .about-us p {
    line-height: 40px; }

/*
----------------------------------------------------
CONTACTS PAGE
----------------------------------------------------
*/
.contacts-page {
  background: url(../images/background3.jpg) no-repeat center center fixed;
  height: 100vh;
  padding: 5% 0%; }
  .contacts-page .container {
    box-shadow: 5px 7px 5px 3px rgba(0, 0, 0, 0.3); }
  .contacts-page .contact, .contacts-page .form {
    height: 80vh;
    background-color: #fff;
    padding: 2%; }
    .contacts-page .contact h3, .contacts-page .form h3 {
      color: #00cc7a;
      padding: 3% 0%;
      border-bottom: 1px solid #00cc7a;
      margin: 5% 0% 10% 0%; }
    .contacts-page .contact ul, .contacts-page .form ul {
      padding-left: 5%;
      padding-top: 5%; }
    .contacts-page .contact li, .contacts-page .form li {
      display: block;
      padding: 4% 0%;
      font-size: 1.5em; }
      .contacts-page .contact li i, .contacts-page .form li i {
        font-size: 1em;
        margin-right: 5%;
        color: #444;
        margin-top: 1%; }
  .contacts-page .form {
    background-color: #00cc7a; }
    .contacts-page .form h3 {
      color: #fff;
      border-bottom: 1px solid #fff; }
    .contacts-page .form input[type='email'], .contacts-page .form [type='text'], .contacts-page .form textarea {
      width: 100%;
      border: 1px solid #dfdfdf;
      background-color: transparent;
      color: #fff;
      padding: 2%; }
    .contacts-page .form ::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #fff; }
    .contacts-page .form input[type='email']:focus, .contacts-page .form [type='text']:focus, .contacts-page .form textarea:focus {
      border: 1px solid #fff; }
    .contacts-page .form input[type='text'] {
      width: 49.5% !important; }
    .contacts-page .form input[type='submit'] {
      background-color: #fff;
      border: 1px solid #fff;
      width: 50%;
      color: #00cc7a;
      padding: 2% 0% 2.5% 0%; }
    .contacts-page .form input[type='submit']:hover {
      background-color: transparent;
      color: #fff; }

/*
----------------------------------------
HOTELS PAGE STYLING
----------------------------------------
*/
.hotel-images {
  padding: 7% 10%; }
  .hotel-images h1 {
    text-align: center;
    padding: 1% 0%; }

.hotel {
  margin: 1% 0%; }
  .hotel .image {
    height: 25vh;
    width: 100%; }
  .hotel .text {
    position: absolute;
    bottom: 0%;
    padding: 2%;
    width: 100%;
    color: #fff; }
    .hotel .text a {
      font-size: .6em;
      color: #fff;
      text-decoration: none; }
    .hotel .text a:hover {
      color: #00cc7a; }

/*# sourceMappingURL=main.css.map */
